.btn-lg{
    --bs-btn-padding-y: 4.5rem!important;
    --bs-btn-padding-x: 4rem!important;
    --bs-btn-font-size: 1.25rem!important;
    --bs-btn-border-radius: 0.5rem!important;
    margin:1rem!important;
    margin-left:-1rem!important;
}
.btn-lg2{
    --bs-btn-padding-y: 1.25rem!important;
    --bs-btn-padding-x: 5rem!important;
    --bs-btn-font-size: 1.25rem!important;
    --bs-btn-border-radius: 0.5rem!important;
    margin-left:-9.5rem!important;
    margin-top:1rem!important;
    height: 5rem!important;
    max-width:301.44px!important;
    width:301.44px!important;
}

.select-input{
    width: 228.67px;
    height:27.33px;
}
.title-biglietto{
    padding-left:7rem!important;
}
@media screen and (min-device-width: 300px)
and (max-device-width: 819px) {
    .btn-lg2 {
        margin-left:0rem!important;
}
    .btn-lg{
        --bs-btn-padding-y: 1.25rem!important;
        --bs-btn-padding-x: 5rem!important;
        --bs-btn-font-size: 1.25rem;
        --bs-btn-border-radius: 0.5rem;
        margin-left:0.70rem!important;
        margin-top:1rem!important;
        height: 5rem!important;
        max-width:301.44px!important;
        width:301.44px!important;
    }
    .btn-modifica{
        margin-left:-3rem!important;
    }
    .prenotazione{
    margin-right:10rem!important;
    }
    .tiposerv{
    margin-right:10.3rem!important;
    }
    .nome{
    margin-right:15.2rem!important;
    }
    .cognome{
    margin-right:13rem!important;
    }
    .pax{
    margin-right:21rem!important;
    }
    .data{
    margin-right:19rem!important;
    }
    .prezzo{
    margin-right:18rem!important;
    }
    .title-biglietto{
    padding-left:0rem!important;
    }
    .dati-biglietto{
    margin-left:3rem!important;
    }
}